<!doctype html>
<html>
<head>
  <title>Belgium Algorithm Contest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://www.w3schools.com/lib/w3data.js"></script> 
<style>
html {
    overflow-y: scroll; 
}
</style>
</head>
<body>
    {{{body}}}
</body>
</html>