<div class="jumbotron text-center">
  <img src="https://bytebucket.org/franaubry/contest-replay/raw/821f4c5adfa11168faaa8c357918252cc699039d/templates/replay.png" alt="logo" style="width:20%">
</div>


<div id="container" class="container">
  <div class="row">
    <div class="main-wrapper col-md-4 col-md-offset-4">
      <div class="entry-content">

          <form action='/process?form=newsletter' method="POST"> 
            <div class="form-group">
              <label for="fieldUrl">Contest Scoreboard url</label>
              <input type="text" class="form-control" id="fieldUrl" name="contestUrl">
              <button type="submit" class="btn btn-default">Replay contest</button>
            </div>
          </form>

      </div><!-- .entry-content -->
    </div>
  </div>
</div><!-- #container -->
